/* Home Page Styles */

/* Variables */

:root {
  --civ-text-blue: #1e3556;
  --civ-yellow: #fba707;
  --civ-brown: #92857c;
  --civ-white: #fff;
  --civ-text-primary: #2b2b2b;
  --civ-dark-gray: #2b2b2b;
  --civ-primary: #b10102;
}

/* Body Styles */
body {
  font-family: "Source Sans Pro", sans-serif !important;
  color: var(--civ-text-primary);
}

/* Underline Gold */
.underline-gold {
  border-bottom: 4px solid var(--civ-yellow);
}

/* Paragraphs */
p {
  font-size: 18px;
  line-height: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

/* Button */
.button {
  padding: 0.75rem 2rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* Lower than desktop screens */
@media screen and (max-width: 1400px) {
  .button {
    padding: 0.75rem 1rem;
  }
}

.button--primary {
  background-color: var(--civ-yellow);
  text-decoration: none;
  color: var(--text-blue);
  font-weight: bold;

  border: 5px solid transparent;
  background-image: linear-gradient(#fba707, #fba707),
    linear-gradient(to right, #fba707, #b07402);
  border-radius: 99999px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.button:hover {
  text-decoration: none;
  color: inherit;
}

/****** Loading ******/
.loading-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  background: rgb(136, 3, 34);
  background: linear-gradient(
    90deg,
    rgba(136, 3, 34, 1) 0%,
    rgba(178, 1, 2, 1) 50%,
    rgba(136, 3, 32, 1) 100%
  );
}

.loading-content .site-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.site-logo-header {
  position: fixed;
  left: 6vw;
  top: 3vh;
  z-index: 999;
}

/* For upto large devices */
@media screen and (max-width: 1400px) {
  .site-logo-header {
    top: 2vh;
  }
}

.navbar__button-group {
  position: fixed;
  right: 2vw;
  top: 5vh;
  z-index: 999;
}

/* For upto large devices */
@media screen and (max-width: 1400px) {
  .navbar__button-group {
    top: 3vh;
  }
}

.loading-content .loading-spinner {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

/* Scrollbar */
.hide-scrollbar {
  overflow: hidden !important;
}

/* Site Styles */

.site-logo {
  width: 190px;
}

/* Lower than desktop screens */
@media screen and (max-width: 1400px) {
  .site-logo {
    width: 130px;
  }
}

/* Wrapepr inside wich the loading takes place */
section#hero {
  position: inherit;
  background: rgb(136, 3, 34);
  background: linear-gradient(
    90deg,
    rgba(136, 3, 34, 1) 0%,
    rgba(178, 1, 2, 1) 50%,
    rgba(136, 3, 32, 1) 100%
  );
  height: 100vh;
}

/* Logo Animation */
.cls-1 {
  fill: #fff;
}

.cls-1,
.cls-2 {
  fill-rule: evenodd;
}

.cls-2 {
  fill: none;
  stroke: #fff;
  stroke-linecap: square;
  stroke-miterlimit: 1.5;
  stroke-width: 3.553px;
}

/* Logo Animation */
#building-svg {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 2.5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/***** Navbar *****/

/* Main Top Navbar Container */
section#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__button-group {
  display: flex;
}

.navbar__button-group a:first-of-type {
  margin-right: 2.125rem;
}

.navbar__button-nav {
  background-color: var(--civ-brown);
  color: var(--civ-white);
  display: flex;
  align-items: center;
  justify-content: center;

  border: 5px solid transparent;
  background-image: linear-gradient(#92857c, #92857c),
    linear-gradient(to right, #92857c, #6d6d6d);
  border-radius: 99999px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.navbar__button-nav:hover{
  color: var(--civ-white);
}

.navbar__button-nav i {
  margin-left: 9px;
}

/****** Hero ******/
.hero-content {
  text-align: center;
  margin: 0 auto;
  padding: 17rem 0 0 0;
  color: var(--civ-white);
}

/* Lower than desktop screens */
@media screen and (max-width: 1400px) {
  .hero-content {
    padding: 12rem 0 0 0;
  }
}

/* For Up to Medium Sized Devices */
@media screen and (max-width: 768px) {
  .hero-content {
    padding: 16rem auto 0 auto;
  }
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .hero-content {
    padding: 12rem auto 0 auto;
  }
}

.hero__title {
  font-size: 4rem;
  width: 65%;
  font-weight: bold;
  margin: auto;
  color: var(--civ-white);
}

/* Lower than desktop screens */
@media screen and (max-width: 1400px) {
  .hero__title {
    font-size: 3.5rem;
  }
}

/* For Up to Medium Sized Devices */
@media screen and (max-width: 768px) {
  .hero__title {
    width: 90%;
  }
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .hero__title {
    font-size: 3rem;
    width: 100%;
    margin: auto;
  }
}

.hero__text-wrapper {
  width: 60%;
  margin: 55px auto;
}

/* For Up to Medium Sized Devices */
@media screen and (max-width: 768px) {
  .hero__text-wrapper {
    width: 85%;
  }
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .hero__text-wrapper {
    width: 100%;
  }
}

.hero__text {
  font-size: 1.4rem;
  color: var(--civ-white);
  line-height: 2.5rem;
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .hero__text {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.go-down-button {
  border-radius: 9999px;
  width: 60px;
  height: 60px;
  background-color: var(--civ-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}

.go-down-button__img{
  width: 25px;
}

/* Affaliated Blogs */
section#affiliated-blogs {
  padding: 70px 0 40px 0;
}

.affiliated-blog__images {
  height: 40px;
  width: auto;
}

.affiliated-blog__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.affiliated-blog__row div {
  margin-bottom: 20px;
}

.affiliated-blog__images--pais {
  height: 25px;
}

.affiliated-blog__images--vanguardia {
  height: 20px;
}

.affiliated-blog__images--publico {
  height: 30px;
}

.affiliated-blog__images--ok_diaro {
  height: 30px;
}

section#quick-access {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  section#quick-access {
    flex-wrap: wrap;
  }
}

.quick-access__item {
  width: 33.2%;
  cursor: pointer;
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .quick-access__item {
    width: 100%;
  }
}

.quick-access-item__img {
  overflow: hidden;
}

.quick-access-item__img img {
  width: 100%;
  transition: transform 0.5s ease;
}

.quick-access-item__img img:hover {
  transform: scale(1.25);
}

.quick-access-item__title {
  text-align: center;
  padding: 40px 0;
  margin-top: -5px;
}

.quick-access-item__title h1 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

/* Lower than desktop screens */
@media screen and (max-width: 1400px) {
  .quick-access-item__title h1 {
    font-size: 1.5rem;
  }
}

.quick-access-item__title--publication {
  background-color: #92857c;
}

.quick-access-item__title--argument {
  background-color: #fe6b69;
}

.quick-access-item__title--community {
  background-color: #98918c;
}

/* Register Section */
section#register-home {
  padding: 190px 0;
}

/* For Up to Medium Sized Devices */
@media screen and (max-width: 768px) {
  section#register-home {
    padding: 100px 0;
  }
}

.register-home__title {
  font-size: 2rem;
  color: var(--civ-text-primary);
}

.register-home__content {
  margin-top: 3rem;
}

.register-home__content p {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.register-home__register-form-wrapper {
  border: 1px solid var(--civ-dark-gray);
  padding: 60px 40px;
  border-radius: 20px;
}

/* For Up to Medium Sized Devices */
@media screen and (max-width: 768px) {
  .register-home__register-form-wrapper {
    margin-top: 60px;
  }
}

.register-home-register-form__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--civ-text-primary);
}

.form-control {
  border-color: var(--civ-dark-gray);
}

.register-home-register-form__checkbox {
  display: flex;
  align-items: center;
}

.register-home-register-form__checkbox input {
  margin-right: 15px;
}

/* Footer */
footer {
  padding-top: 90px;
  background: rgb(136, 3, 34);
  background: linear-gradient(
    90deg,
    rgba(136, 3, 34, 1) 0%,
    rgba(178, 1, 2, 1) 50%,
    rgba(136, 3, 32, 1) 100%
  );
  border-top: 0.75rem solid var(--civ-yellow);
}

.footer__address {
  margin-top: 1.5rem;
  color: var(--civ-white);
  text-align: center;
}

.footer__address p {
  color: var(--civ-white);
}

.footer__button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

/* .footer__title {
  margin-left: -20px;
} */

.footer__title-text {
  font-size: 1.5rem;
  color: var(--civ-white);
  font-weight: bold;
}

.footer__links {
  list-style: disc;
  list-style-position: outside;
  color: var(--civ-white);
  margin-top: 2rem;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer__links li {
  margin-top: 1.5rem;
  font-size: 18px;
  list-style: none;
}

.footer__links li::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-image: url("./assets/arrow-icon.svg");
  background-size: cover;
  margin-right: 6px;
}

.footer__row {
  align-items: center;
}

/* For mobile devicses */
@media screen and (max-width: 576px) {
  .footer__row > div {
    margin-bottom: 80px;
    text-align: center;
  }
}

.footer__row--main {
  text-align: center;
}

.footer__copyright {
  margin-top: 90px;
  padding: 30px 0;
  background-color: var(--civ-white);
  color: var(--civ-text-blue);
}

.footer-copyright__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* For Up to Medium Sized Devices */
@media screen and (max-width: 768px) {
  .footer-copyright__content div {
    margin-top: 30px;
  }
}

.footer-copyright__links {
  font-size: 18px;
  color: var(--civ-text-blue);
  display: flex;
  align-items: center;
}

/* For mobile */
@media screen and (max-width: 576px) {
  .footer-copyright__links {
    flex-wrap: wrap;
  }

  .footer-copyright__link {
    margin-bottom: 10px;
  }
}

.footer-copyright__link:last-of-type::after {
  content: "";
}

.footer-copyright__link::after {
  content: "|";
  margin: 0 10px;
}

.fa-twitter {
  color: #2aa9e0;
  margin-right: 20px;
}

.fa-youtube {
  color: #ff0000;
}

.footer-copyright__social {
  display: flex;
  align-items: center;
}

/* SideNav Menu */
section.sidenav-menu {
  position: fixed;
  z-index: 9999;
  background-color: var(--civ-white);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.sidenav-menu-col__image img {
  width: 100%;
}

.sidenav-menu-col__nav li {
  color: var(--civ-text-primary);
  font-size: 14px;
}

.sidenav-menu-col__links {
  padding: 0 1.25rem;
}

.sidenav-menu-col__title {
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem 0;
  font-weight: bold;
}

.sidenav-menu__col {
  padding-right: 0;
  padding-left: 0;
  padding-top: 15vh;
}

.sidenav-menu__col--menu {
  background-color: var(--civ-primary) !important;
  color: var(--civ-white);
}

.sidenav-menu-col__content--menu {
  padding: 0 30px;
}

.sidenav-menu-col-quick-access__item {
  margin-bottom: 30px;
  cursor: pointer;
}

.sidenav-menu-colquick-access-item__text {
  background-color: var(--civ-white);
  padding: 10px;
  color: var(--civ-text-blue);
  text-align: center;
  font-weight: 600;
}

.sidenav-menu-colquick-access-item__text--donations{
  background-color: gold;
}

.sidenav-menu-rows__content {
  height: calc(60vh - 7rem);
  display: flex;
  flex-direction: column;
}

.sidenav-menu-colquick-access-item__image {
  height: 120px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidenav-menu-languages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.sidenav-menu-language img {
  width: 40px;
  height: auto;
}

.sidenav-menu-language img:first-of-type {
  margin-right: 20px;
}

.sidenav-menu__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.sidenav-menu-social__icons {
  color: var(--civ-white);
}

.sidenav-menu__bottom-links {
  display: flex;
  margin: 3rem 0;
  flex-direction: column;
  text-align: center;
}

.sidenav-menu__bottom-link {
  color: var(--civ-white);
  margin-bottom: 10px;
  opacity: 0.6;
  font-size: 14px;
}

.sidenav-menu__col:nth-of-type(odd) {
  background-color: #f5f5f5;
}

.site-logo--sidenav-menu {
  z-index: 99;
}

.navbar__button-group--sidenav-menu {
  z-index: 99;
}

.navbar__button-group--sidenav-menu .button-signup {
  display: none;
}

.navbar__button-group a{
  width: 180px;
  text-align: center;
}

.sidenav-menu-language__img--active{
  box-shadow: -1px 0px 14px 4px rgb(255 255 255);
  -webkit-box-shadow: -1px 0px 14px 4px rgb(255 255 255);
  -moz-box-shadow: -1px 0px 14px 4px rgb(255 255 255);
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .button-signup--header {
    display: none;
  }
}

.sidenav-menu-col__title--quickaccess {
  border-bottom: 1px solid var(--civ-white);
}

.sidenav-menu-col__quick-access {
  margin: 30px 0;
}

.sidenav-menu__search {
  margin: 3rem 0;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--civ-white);
  color: var(--civ-white);
  display: flex;
  align-items: center;
}

.sidenav-menu-search__field {
  background-color: transparent;
  outline: none;
  border: 0;
  color: var(--civ-white);
  margin-left: 6px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--civ-white);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--civ-white);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--civ-white);
}

.sidenav-menu__rows {
  margin-top: 13vh;
}

.sidenav-menu__row {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidenav-menu__row:nth-child(odd) {
  background-color: #f5f5f5;
}

.sidenav-menu-row__title {
  font-weight: bold;
}

.sidenav-menu-row__title h4{
  font-size: 16px;
}

.sidenav-menu-row__links {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2.25rem;
}

.sidenav-menu-row__links a {
  flex-basis: 33.3%;
  margin-bottom: 0.75rem;
  color: var(--civ-text-primary);
}

.sidenav-menu-row__links {
  display: none;
}

.flex {
  display: flex;
}

.sidenav-menu-row__bottom {
  background-color: var(--civ-primary);
  height: 41vh;
}

.sidenav-menu-languages--row {
  margin-top: 0;
  padding-top: 20px;
}

.sidenav-menu__search--row-wrapper {
  width: 60%;
  margin: 3vh auto;
}

.sidenav-menu__search--row {
  margin: 0;
}

.sidenav-menu__bottom-links--row {
  margin: 3vh 0;
}

.sidenav-menu__rows--desktop {
  height: 100%;
}

.navbar--fixed {
  background-color: transparent;
  height: 16vh;
  width: 100vw;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}

/* Lower than desktop screens */
@media screen and (max-width: 1400px) {
  .navbar--fixed {
    height: 12vh;
  }
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .navbar--fixed {
    height: 13vh;
    background-color: var(--civ-white);
  }
}

.navbar-fixed-white-bg {
  border-bottom: 1px solid #dfdfdf;
  background-color: var(--civ-white);
}
