/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables */

:root {
  --civ-text-blue: #1e3556;
  --civ-yellow: #fba707;
  --civ-brown: #92857c;
  --civ-white: #fff;
  --civ-text-primary: #2b2b2b;
  --civ-dark-gray: #2b2b2b;
}

/* Body Styles */
body {
  font-family: "Source Sans Pro", sans-serif !important;
  color: var(--civ-text-primary);
}

/* Underline Gold */
.underline-gold {
  border-bottom: 4px solid var(--civ-yellow);
}

/* Paragraphs */
p {
  font-size: 18px;
  line-height: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

/* Button */
.button {
  padding: 0.75rem 2rem;
  text-decoration: none;
  border: none;
  font-size: 18px;
}

.button--primary {
  background-color: var(--civ-yellow);
  text-decoration: none;
  color: var(--text-blue);
  font-weight: bold;

  border: 5px solid transparent;
  background-image: linear-gradient(#fba707, #fba707),
    linear-gradient(to right, #fba707, #faa307);
  border-radius: 99999px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.button:hover {
  text-decoration: none;
  color: inherit;
}

/****** Loading ******/
.loading-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.loading-content .site-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading-content .loading-spinner {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.loading-spinner img {
  width: 40px;
}

/* Site Styles */

.site-logo {
  width: 190px;
}

/* Wrapepr inside wich the loading takes place */
section#hero {
  position: inherit;
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@keyframes loading-logo-animation {
  from {
    left: 50%;
    top: 50%;
  }

  to {
    left: 10%;
    top: 10%;
  }
}

/***** Navbar *****/

/* Main Top Navbar Container */
section#navbar {
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__button-group {
  display: flex;
}

.navbar__button-group a:first-of-type {
  margin-right: 2.125rem;
}

.navbar__button-nav {
  background-color: var(--civ-brown);
  color: var(--civ-white);
  display: flex;
  align-items: center;

  border: 5px solid transparent;
  background-image: linear-gradient(#92857c, #92857c),
    linear-gradient(to right, #92857c, #6d6d6d);
  border-radius: 99999px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.navbar__button-nav i {
  margin-left: 9px;
}

/****** Hero ******/
.hero-content {
  text-align: center;
  margin: 11rem auto 0 auto;
  color: var(--civ-white);
}

.hero__title {
  font-size: 4rem;
  font-weight: thin;
  font-family: "Didot";
  width: 65%;
  margin: auto;
}

.hero__text-wrapper {
  width: 60%;
  margin: 55px auto;
}

.hero__text {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.go-down-button {
  border-radius: 9999px;
  width: 60px;
  height: 60px;
  background-color: var(--civ-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* Affaliated Blogs */
section#affiliated-blogs {
  padding: 70px 0;
}

.affiliated-blog__images {
  height: 40px;
  width: auto;
}

.affiliated-blog__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.affiliated-blog__images--pais {
  height: 25px;
}

.affiliated-blog__images--vanguardia {
  height: 20px;
}

.affiliated-blog__images--publico {
  height: 30px;
}

.affiliated-blog__images--ok_diaro {
  height: 30px;
}

section#quick-access {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quick-access__item {
  width: 33.2%;
  cursor: pointer;
}

.quick-access-item__img{
  overflow: hidden;
}

.quick-access-item__img img {
  width: 100%;
  transition: transform .5s ease;
}

.quick-access-item__img img:hover{
  transform: scale(1.25);

}

.quick-access-item__title {
  text-align: center;
  padding: 40px 0;
  margin-top: -5px;
}

.quick-access-item__title h1 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.quick-access-item__title--publication {
  background-color: #92857c;
}

.quick-access-item__title--argument {
  background-color: #fe6b69;
}

.quick-access-item__title--community {
  background-color: #98918c;
}

/* Register Section */
section#register-home {
  padding: 190px 0;
}

.register-home__title {
  font-size: 2rem;
}

.register-home__content {
  margin-top: 3rem;
}

.register-home__content p {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.register-home__register-form-wrapper {
  border: 1px solid var(--civ-dark-gray);
  padding: 60px 40px;
  border-radius: 20px;
}

.register-home-register-form__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-control {
  border-color: var(--civ-dark-gray);
}

.register-home-register-form__checkbox {
  display: flex;
  align-items: center;
}

.register-home-register-form__checkbox input {
  margin-right: 15px;
}

/* Footer */
footer {
  padding-top: 90px;
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0.75rem solid var(--civ-yellow);
}

.footer__address {
  margin-top: 1.5rem;
  color: var(--civ-white);
  text-align: center;
}

.footer__button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.footer__title {
  margin-left: -20px;
}

.footer__title-text {
  font-size: 1.5rem;
  color: var(--civ-white);
  font-weight: bold;
}

.footer__links {
  list-style: disc;
  list-style-position: outside;
  color: var(--civ-white);
  margin-top: 2rem;
}

.footer__links li {
  margin-top: 1rem;
  font-size: 18px;
  list-style: none;
}

.footer__links li::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-image: url("./assets/arrow-icon.svg");
  background-size: cover;
  margin-right: 6px;
}

.footer__row {
  align-items: center;
}

.footer__copyright {
  margin-top: 90px;
  padding: 30px 0;
  background-color: var(--civ-white);
  color: var(--civ-text-blue);
}

.footer-copyright__content {
  display: flex;
  justify-content: space-between;
}

.footer-copyright__links {
  font-size: 18px;
  color: var(--civ-text-blue);
  display: flex;
  align-items: center;
}

.footer-copyright__link:last-of-type::after {
  content: "";
}

.footer-copyright__link::after {
  content: "|";
  margin: 0 10px;
}

.fa-twitter {
  color: #2aa9e0;
  margin-right: 20px;
}

.fa-youtube {
  color: #ff0000;
}

.footer-copyright__social {
  display: flex;
  align-items: center;
}
